<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static '/CSS/billboard.css' %}">

    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="../static/CSS/billboard.css">
  <title>Billboard</title>
  </head>
  <body>
  <div class="container">
 <p id="billboard">Billboard</p>
</div>
<!–– creates message template -->
<div class="mainBody">
 {% if posts %}
            {% for post in posts %}
  <div class = "row">
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <fieldset class = "fieldset">
   <legend class="legend" id ="pubdate">{{post.pub_date|date:"m/d/Y"}}</legend>
    <p class = "posttitle">{{ post.post_title }}</p>
    <p class = "postbody">{{ post.post_msg }}</p>
    <p class = "postsignature">{{ post.post_sign }}</p>
  </fieldset>
</div>
</div>
{% endfor %}
        {% else %}
 {% endif %}

<!–– FORM START creates submit form template -->
<div class = "container" id = "newpostdiv" >
  <div class = "row">
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <fieldset class = "secondfieldset">
    <legend class = "legend">{{post.pub_date|date:"m/d/Y"}}</legend>
   <form>
   <input type="text" class="TitleName col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" name="TitleName" id="newtitle_{{ post.id }}" placeholder="Title"></br>
    <div class="form-group">
  <textarea class="form-control col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" rows="5" id="newtext_{{ post.id }}" placeholder="Your message here"></textarea>
</div>
   <input type="text" class="AuthorName col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" name="AuthorName" id="newauthor_{{ post.id }}" placeholder="Author">
   </form>
  </fieldset>
</div>
</div>
</div>

<!–– creates submit and discard buttons -->
<div class = "container" id = "confirmbox">
  <div class = "row">
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
<div class = submitButtons>
<button type="button" class="btn btn-default delete_post" id= "delete_{{ post.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 <button type="button" class="btn btn-default confirm_btn" id= "add_{{ post.id }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
</div>
</div>
</div>
</div>
</div>

<!–– creates submit new -->
<div class = "textadd" id = "textadd">
 <p>No Messages...</br>Click the '+' button to add a new message</p>
</div>

  <div class = "container">
  <div class = "row">
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
<div class = createnewButton id = "newButton">
<button type="button" class="btn btn-default green"><span class="glyphicon glyphicon-plus"></span></button>
</div>
</div>
</div>
</div>

  </body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/billboard.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>